{% load static %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ilhomjondev{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient shadow">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand fw-bold text-uppercase" href="{% url 'home' %}">
      Ilhomjondev
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Chap tomonda -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
      </ul>

      <!-- O'ng tomonda -->
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            {% if user.is_authenticated and user.is_superuser or user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'article_create' %}">✍️ Yangi blog</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'password_change' %}">🔑 Parolni o'zgartirish</a></li>
            <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">🚪 Chiqish</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-success me-2" href="{% url 'login' %}">Kirish</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning text-dark" href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<main class="container mt-4">
    {% block content %}
    {% endblock content %}
</main>

<!-- Bootstrap JS (bundle ichida Popper ham bor) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
